/* IMPORTANTO CORES*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* CRIANDO VARIÁVEIS*/
:root{
    --cor-primaria:  #2C3639;
    --cor-segundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4F;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/* PADRONIZANDO A PAGINA*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-primaria);
    box-sizing: border-box;
    color: var(--cor-segundaria); 
}

.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho-menu{
    display: flex;
    gap: 80px;
}

.cabecalho-link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color:var(--cor-terciaria);
    text-decoration: none;

}

.container{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteiner__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo{
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.destaque-titulo{
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
}

.texto{
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.subtitulo-2{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;

}

.botao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-segundaria);
    font-family: var(--fonte-secundaria);
}

.botao:hover{
    background-color: var(--cor-hover);
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}